    .input {
        border: 1px solid #D6DBE9;
        width: 300px;
    }

    .a_input {
        font-family: '微软雅黑';
        color: #0000ff;
        font-size: 15px;
    }

    .a_td {
        text-align: right;
        padding-right: 20px;
    }
