<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="kyj_WebDBEntities" connectionString="metadata=res://*/kyj_Web.csdl|res://*/kyj_Web.ssdl|res://*/kyj_Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_WebDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="kyj_UserDBEntities" connectionString="metadata=res://*/kyj_User.csdl|res://*/kyj_User.ssdl|res://*/kyj_User.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.3.156;Initial Catalog=kyj_UserDB;Persist Security Info=True;User ID=sa;password=110;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="kyj_NewHouseDBEntities" connectionString="metadata=res://*/kyj_NewHouseDB.csdl|res://*/kyj_NewHouseDB.ssdl|res://*/kyj_NewHouseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_NewHouseDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <!-- 新房测试设置
        <add key="domain" value=".yfxs.cn" />
        <add key="baseUrl" value="http://manager.yfxs.cn/" />
        <add key="baseUrl.nh" value="http://nhmanager.yfxs.cn/" />
        <add key="static.baseUrl.nh" value="http://nhmanager.yfxs.cn/"/>
        <add key="static.baseUrl.developers" value="http://developers.yfxs.cn/"/>
        <add key="static.version" value="0.1"/>
        <add key="static.fileurl" value="http://nhmanager.yfxs.cn/"/>
        <add key="static.imgurl" value="http://nhmanager.yfxs.cn/"/>
        <add key="service_hotline_1" value="400-999-3535"/>
        <add key="premisesimgupload.baseUrl" value="http://premisesimgupload.yfxs.cn/" />
        -->

        <!-- 新房 域名 -->
        <add key="domain" value=".kyjob.com" />
        <!-- 租房 管理平台地址 -->
        <add key="baseUrl" value="http://manager.kyjob.com/" />
        <!-- 新房 管理平台地址 -->
        <add key="baseUrl.nh" value="http://nhmanager.kyjob.com/" />
        <!-- JS/CSS/images地址，本地就是自己的域名 -->
        <add key="static.baseUrl.nh" value="http://nhmanager.kyjob.com/"/>
        <!-- 新房 开发商后台 -->
        <add key="static.baseUrl.developers" value="http://nhdevelopers.kyjob.com/"/>
        <add key="static.version" value="0.1"/>
        <add key="static.fileurl" value="http://nhmanager.kyjob.com/"/>
        <add key="static.imgurl" value="http://nhmanager.kyjob.com/"/>
        <!-- 客服热线电话1 -->
        <add key="service_hotline_1" value="400-999-3535"/>
        <!-- 图片上传 -->
        <add key="premisesimgupload.baseUrl" value="http://premisesimgupload.yfxs.cn/" />
        
        <!-- 短信接口 -->
        <add key="sms.baseUrl" value="http://smsweb.kuaiyoujia.com/AcceptSms.aspx" />
        <!-- 消息队列相关 开始 -->
        <!-- 121.52.212.50:61616 -->
        <!-- 192.168.0.180 -->
        <!--<add key="MQIPAddress" value="192.168.3.98:61616" />
        <add key="MQConnectionTimeOut" value="3" />
        <add key="MQRetryCount" value="2" />-->
        <add key="MQIPAddress" value="192.168.3.153:61616" />
        <add key="MQConnectionTimeOut" value="3" />
        <add key="MQRetryCount" value="2" />
        <add key="MQPremisesPicQueueName" value="fc_premisespic_test191" />
        <!-- 400 -->
        <add key="MQCallInfoQueueName" value="userinfocalldeal_test153"/>
        <!--消息队列相关 结束-->
        <!--管理后台权限配置-->
        <add key="SuperAdminId" value="57,58"/>
        <add key="Version" value="3"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     applicationName="/" />
            </providers>
        </membership>

        <profile>
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear/>
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>

        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="TXManagerWeb.Common" />
                <add namespace="TXManagerWeb.Utility" />
                <add namespace="TXManagerWeb.Controllers" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>