<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application name="hello">
      <!-- We need to define the remoting channels on which we will publish
           the remote logging sink. -->
      <channels>
        <channel displayName="Server Channel" ref="tcp" port="8888"  />
      </channels>
      <service>
        <wellknown mode="SingleCall" type="RemotingReceive.RemotingReceiveLogImpl,RemotingReceive" objectUri="RemotingReceiveLog">
        </wellknown>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>
