<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoConnection" value="mongodb://192.168.3.153/test" />
    <add key="HouseDbSqlConnection" value="server=192.168.3.156;database=kyj_HouseDB_5_4;user id=sa;pwd=110;" />    <add key="WebDbSqlConnection" value="server=192.168.3.156;database=kyj_WebDB;user id=sa;pwd=110;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="True">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHelp">
          <webHttp helpEnabled="True" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Debugbehavior">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true" />
         
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MongoImpl.MongoHouseService" behaviorConfiguration="Debugbehavior">
        <endpoint binding="webHttpBinding" contract="MongoService.IMongoHouseService" behaviorConfiguration="webHelp" bindingConfiguration="webBinding">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
        </staticContent>
        <handlers>
            <add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler" resourceType="File" preCondition="integratedMode" />
        </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
  
</configuration>
