<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src=@Url.Content("~/js/jquery-1.8.3.js") type="text/javascript"></script>
    <script src=@Url.Content("~/js/jquery-1.8.3.min.js") type="text/javascript"></script>
    <script src="@Url.Content("~/js/url.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
