<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--只读库-->
    <add name="kyj.zushourdb" connectionString="Data Source=192.168.3.156;Initial Catalog=Kyj_ZushouDB;user id=sa;pwd=110" providerName="System.Data.SqlClient"/>
    <!--只写库-->
    <add name="kyj.zushouwdb" connectionString="Data Source=192.168.3.156;Initial Catalog=Kyj_ZushouDB;user id=sa;pwd=110" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    
    <add key="AttributesIndexPath" value="D:\Index\AttributesIndex"/>
    <add key="BrandsIndexPath" value="D:\Index\BrandsIndex"/>
    <add key="CategoriesIndexPath" value="D:\Index\CategoriesIndex"/>
    <add key="SaleGoodsesIndexPath" value="D:\Index\SaleGoodsesIndex"/>
    <add key="RentalGoodsesIndexPath" value="D:\Index\RentalGoodsesIndex"/>
    <add key="LogPath" value="D:\Log\Log.txt"/>
    <add key="kyj.zushourdb" value="Data Source=192.168.3.156;Initial Catalog=Kyj_ZushouDB;user id=sa;pwd=110"/>
  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
