<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=192.168.3.156;Initial Catalog=kyj_NewHouseDB;User ID=sa;Password=110;Persist Security Info=True"/>
    <add key="LogPath" value="D:\fabu\log\"/>
    <add key="NewHouseDBName" value="kyj_NewHouseDB"/>
    <add key="UserDBName" value="kyj_UserDB"/>
    <add key="MQIPAddress" value="192.168.0.180:61616" />
    <add key="MQConnectionTimeOut" value="3" />
    <add key="MQRetryCount" value="2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
