<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="offerPrice" value="http://redis.cjkjb.com:8080/lua0" />
    <!--图片服务-->
    <add key="LogPath" value="D:\fabu\log\" />
    <add key="ThreadCount" value="1" />
    <!--消息队列相关 开始-->
    <!--121.52.212.50:61616-->
    <add key="MQIPAddress" value="192.168.3.153:61616" />
    <add key="MQConnectionTimeOut" value="3" />
    <add key="MQRetryCount" value="2" />
    <add key="MQQueueName" value="fc_zushou_goodspicture" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>