<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FilterIPAddressConnection" connectionString="server=.;database=FilterIPAddress;user id=sa;pwd=110"/>
  </connectionStrings>
  <appSettings>
    <add key="FilterIPAddressToURL" value="http://www.kuaiyoujia.com"/>
  </appSettings>
  <system.web>
    <httpModules>
      <add name="FilterIpAddress" type="FilterIPAddress.FilterIPAddressModule,FilterIPAddress"/>
    </httpModules>
  </system.web>
</configuration>