<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="offerPrice" value="http://redis.cjkjb.com:8080/lua0"/>
    <add key="LogPath" value="D:\fabu\log\"/>
    <add key="MQIPAddress" value="192.168.3.153:61616" />
    <add key="MQConnectionTimeOut" value="3" />
    <add key="MQRetryCount" value="2" />
    <add key="MQPremisesPicQueueName" value="fc_renthousepic_test_local" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>