<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoConnection" value="mongodb://192.168.3.153/test"/>
    <add key="SqlConnection" value="server=192.168.3.156;database=kyj_HouseDB_5_4;user id=sa;pwd=110;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="True" automaticFormatSelectionEnabled="True"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Debugbehavior">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MongoImpl.MongoHouseService" behaviorConfiguration="Debugbehavior">
        <endpoint address="http://192.168.3.85:9901/house" binding="webHttpBinding" contract="MongoService.IMongoHouseService" behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
