<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="TX.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, TX.UrlRewriter" />
  </configSections>
  <rewriter configSource="url.config" />
  <connectionStrings>
    <add name="kyj_WebDBEntities" connectionString="metadata=res://*/kyj_Web.csdl|res://*/kyj_Web.ssdl|res://*/kyj_Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_WebDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="kyj_UserDBEntities" connectionString="metadata=res://*/kyj_User.csdl|res://*/kyj_User.ssdl|res://*/kyj_User.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.3.156;Initial Catalog=kyj_UserDB;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="kyj_NewHouseDBEntities" connectionString="metadata=res://*/kyj_NewHouseDB.csdl|res://*/kyj_NewHouseDB.ssdl|res://*/kyj_NewHouseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.3.156;Initial Catalog=kyj_NewHouseDB;Persist Security Info=True;User ID=sa;Password=110;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="domain" value=".kyjob.com" />
    <add key="baseUrl" value=".kyjob.com/" />
    <!--二手房地址-->
    <add key="esfUrl" value=".kyjob.com/esf/house/quyu-z1" />
    <!--快有贷地址-->
    <add key="kydUrl" value=".kuaiyoudai.com/" />
    <!--快来看地址-->
    <add key="klkUrl" value=".kuailaikan.com/" />
    <!--租房地址-->
    <add key="zufangUrl" value=".kyjob.com/zufang/house/quyu-z1" />
    <!--用户中心地址-->
    <add key ="userCenterUrl" value=".kyjob.com/"/>
    <!--开发商地址-->
    <add key ="developersUrl" value="http://nhdevelopers.kyjob.com/"/>
    <!--帮助中心地址-->
    <add key ="helpCenterUrl" value=".kyjob.com/xinfang/about/view1"/>
    <!--委托服务地址-->
    <add key ="entrustUrl" value=""/>
    <!--登陆地址-->
    <add key ="loginUrl" value=".kyjob.com/Login/login"/>
    <!--注册地址-->
    <add key ="registerUrl" value=".kyjob.com/Register/Agent"/>
    <!--平台服务-->
    <add key="ptfwUrl" value="http://nhwww.kyjob.com/" />
    <!--站点目录-->
    <add key="siteRoot" value="/xinfang" />
    <!--JS/CSS/images地址，本地就是自己的域名-->
    <add key="static.fileurl" value="http://nhwww.kyjob.com/xinfang/"/>
    <!--图片地址-->
    <add key="static.imgurl" value="http://nhwww.kyjob.com/xinfang/"/>
    <!--短信接口-->
    <add key="sms.baseUrl" value="http://smsweb.kuaiyoujia.com/AcceptSms.aspx" />
    <!--区域 商圈 地铁 站点webservice.cjkjb.com/BaseDataWebService.asmx-->
    <add key="search.baseUrl" value="http://search.kuaiyoujia.net/" />
    <!--js/css版本号-->
    <add key="static.version" value="1"/>

    <!--消息队列相关 开始-->
    <!--121.52.212.50:61616-->
    <add key="MQIPAddress" value="192.168.3.153:61616" />
    <add key="MQConnectionTimeOut" value="3" />
    <add key="MQRetryCount" value="2" />
    <!--消息队列相关 结束-->
    <!--用户登陆Cookie名称-->
    <add key="privatecookie" value="kyjhouseuser"/>
    <!--秒杀操作处理时间（单位：分钟）-->
    <add key="MSOperatingTime" value="1"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="TX.URLRewriter.RewriterFactoryHandler, TX.URLRewriter" />
      <add verb="*" path="*.html" type="TX.URLRewriter.RewriterFactoryHandler, TX.URLRewriter" />
    </httpHandlers>
    <httpModules>
      <add type="TX.UrlRewriter.RewriterHttpModule,TX.UrlRewriter" name="UrlRewriter" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--UrlRewriter Windows 7 II7 Config Setting-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="TX.UrlRewriter.RewriterHttpModule,TX.UrlRewriter" preCondition="" />
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

