<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="kyj_HouseDB_5_4Entities" connectionString="metadata=res://*/ClassLibrary1.Model1.csdl|res://*/ClassLibrary1.Model1.ssdl|res://*/ClassLibrary1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_HouseDB_5_4;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>