<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="kyj_WebDBEntities" connectionString="metadata=res://*/kyj_Web.csdl|res://*/kyj_Web.ssdl|res://*/kyj_Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_WebDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="kyj_HouseDBEntities" connectionString="metadata=res://*/kyj_SHouse.csdl|res://*/kyj_SHouse.ssdl|res://*/kyj_SHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_HouseDB_5_4;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="kyj_UserDBEntities" connectionString="metadata=res://*/kyj_User.csdl|res://*/kyj_User.ssdl|res://*/kyj_User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.156;initial catalog=kyj_UserDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>