<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoConnection" value="mongodb://192.168.3.153/test" />
    <add key="HouseDbSqlConnection" value="server=192.168.3.156;database=kyj_HouseDB_5_4;user id=sa;pwd=110;" />
    <add key="WebDbSqlConnection" value="server=192.168.3.156;database=kyj_WebDB;user id=sa;pwd=110;" />
  </appSettings>
</configuration>
