<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NewHouseDB" value="server=192.168.3.156;uid=sa;pwd=110;database=kyj_NewHouseDB;"/>
    <add key="WebDB" value="server=192.168.3.156;uid=sa;pwd=110;database=kyj_WebDB;"/>
    <add key="LogPath" value="D:\fabu\AdServerlog\"/>
    <!--<add key="NewHouseDB" value="server=192.168.0.47;uid=cjkjbsa;pwd=110110.;database=kyj_NewHouseDB;"/>
    <add key="WebDB" value="server=192.168.0.47;uid=cjkjbsa;pwd=110110.;database=kyj_WebDB;"/>
    <add key="LogPath" value="E:\service\xinfang\service\generationredisrank\"/>-->
    <add key="Top" value="4"/>
    <add key="StartHour" value="0"/>
    <add key="HotNum" value="4"/>
    <add key="NewNum" value="4"/>
    <add key="GoodNum" value="4"/>
    <add key="FutureNum" value="8"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
