<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaseDataWebServiceSoap" />
                <binding name="OperaUserServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservice.cjkjb.com/BaseDataWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BaseDataWebServiceSoap"
                contract="BaseDataWebService.BaseDataWebServiceSoap" name="BaseDataWebServiceSoap" />
            <endpoint address="http://userwebservice.cjkjb.com/operauser.asmx"
                binding="basicHttpBinding" bindingConfiguration="OperaUserServiceSoap"
                contract="UserWebService.OperaUserServiceSoap" name="OperaUserServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>