@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AssLayoutPage.cshtml";
}


<table>
    <tr>
        <td>New Repair</td>
        <td>Repair Status/Edit Number:</td>
        <td><input type="text"/></td>
        <td>Go</td>
    </tr>
    <tr>
        <td>New Return</td>
        <td>Return Status/Edit Number:</td>
        <td><input type="text" /></td>
        <td>Go</td>
    </tr>
</table>