<?xml version="1.0"?>
<autofac>
  <components>
    <component type="JiePan.Ass.Bll.UserInfoBll,JiePan.Ass.Bll" service="JiePan.Ass.IBll.IUserInfoBll, JiePan.Ass.IBll"/>
    <component type="JiePan.Ass.Dal.UserInfoDal,JiePan.Ass.Dal" service="JiePan.Ass.IDal.IUserInfoDal, JiePan.Ass.IDal"/>
  </components>
</autofac>
