<?xml version="1.0" encoding="utf-8"?>

<rewriter>

  <rewrite url="/sl-([0-9]{5,}).html"  to="~/salegoods/detail.html?id=$1" processing="stop"/>
  <rewrite url="/rt-([0-9]{5,}).html"  to="~/rentalgoods/detail.html?id=$1" processing="stop"/>
  <rewrite url="/sl-p-([0-9]{5,}).html"  to="~/salegoods/detailpreview.html?id=$1" processing="stop"/>
  <rewrite url="/rt-p-([0-9]{5,}).html"  to="~/rentalgoods/detailpreview.html?id=$1" processing="stop"/>
  
  <rewrite url="/channel/?$"  to="~/rentalgoods/channel.html?condition=$1" processing="stop"/>
  <rewrite url="/channel/(([\-]{0,}[b|c|d|e|o|p|y|i|r](\d?,|\d|\w+){1,}){0,})/?$"  to="~/rentalgoods/channel.html?condition=$1" processing="stop"/>
  
  <rewrite url="/zu/?$"  to="~/rentalgoods/list.html?condition=$1" processing="stop"/>
  <rewrite url="/zu/(([\-]{0,}[b|c|d|e|f|o|p|y|i|r|s](\d?,|\d|\w+){1,}){0,})/?$"  to="~/rentalgoods/list.html?condition=$1" processing="stop"/>

  <rewrite url="/xianzhi/(([\-]{0,}[b|c|d|e|o|p|y|i|r|u|v|s](\d?,|\d|\w+){1,}){0,})/?$"  to="~/salegoods/list.html?condition=$1" processing="stop"/>
  <rewrite url="/xianzhi/xz(([\-]{0,}[b|c|d|e|o|p|y|i|r|u|v|s](\d?,|\d|\w+){1,}){0,})/?$"  to="~/salegoods/list.html?condition=$1" processing="stop"/>
  <rewrite url="/xianzhi/xz"  to="~/salegoods/list.html" processing="stop"/>
 
 
</rewriter>